# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Scrapy stuff:

# pyenv
.python-version

# Environments
venv/

# JetBrain
.idea

# Django local
local_settings.py
node_modules/
dist/
.idea
.vscode

